In [1]:
#entiment anaylssi
import pandas as pd
import numpy as np

In [45]:
df=pd.read_csv("nice_news")
df.head(10)

,Date,Heading,Link to detail,Detail News
0,2023-09-26,Banks and Finance Companies Report Impressive ...,https://www.sharesansar.com/newsdetail/banks-a...,Nepal Rastra Bank has unveiled recent statisti...
1,2023-09-18,Nabil Bank inaugurates Namche Branch in Solukh...,https://www.sharesansar.com/newsdetail/nabil-b...,"Nabil Bank, a leading banking institution, has..."
2,2023-09-18,Commercial Banks in Ashwin Unveil Interest Rat...,https://www.sharesansar.com/newsdetail/commerc...,Commercial banks have recently announced their...
3,2023-09-12,Nabil Bank partners with Sipradi Autoparts to ...,https://www.sharesansar.com/newsdetail/nabil-b...,Nabil Bank has inked an agreement with Sipradi...
4,2023-09-11,Commercial Banks; Too Pricey on your Pockets? ...,https://www.sharesansar.com/newsdetail/commerc...,As the stock market experiences continuous dec...
5,2023-09-04,Nabil Bank introduces Special Teej Offer for f...,https://www.sharesansar.com/newsdetail/nabil-b...,Targeting to approaching Teej festival – one o...
6,2023-09-01,Nabil Bank bags Ambitions and Development Asia...,https://www.sharesansar.com/newsdetail/nabil-b...,Nabil Bank has bagged ‘Ambitions and Developme...
7,2023-08-28,Nabil Bank receives Sales Excellence Award 202...,https://www.sharesansar.com/newsdetail/nabil-b...,Nabil Bank has received the Sales Excellence A...
8,2023-08-14,Nabil Bank introduces Nabil Dhukka Ghar Karja ...,https://www.sharesansar.com/newsdetail/nabil-b...,With an aim to fulfill the dream of owning hou...
9,2023-08-08,Comparative Analysis: Unraveling Financial Ind...,https://www.sharesansar.com/newsdetail/compara...,The fourth-quarter reports for the ongoing fis...

In [47]:
t=df["Detail News"][:]

In [3]:
from vaderSentiment.vaderSentiment import SentimentIntensityAnalyzer

In [ ]:
##pipeline of text preprocessing

In [36]:
analyzer = SentimentIntensityAnalyzer()
l=[]
for sentence in t:
    vs = analyzer.polarity_scores(sentence)
    l.append([vs["neg"],vs["neu"],vs["pos"],vs["compound"],])
df_x=pd.DataFrame(l)

TypeError: 'float' object is not iterable

In [20]:
import textblob

In [26]:
from textblob import TextBlob

s=[]
for text in t:    
    analysis = TextBlob(text)
    sentiment = analysis.sentiment
    s.append([sentiment.polarity,sentiment.subjectivity])
df1=pd.DataFrame(s)

In [40]:
nltk.download('stopwords')
nltk.download('punkt')

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/sailesh/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.
[nltk_data] Downloading package punkt to /home/sailesh/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [32]:
dff=pd.concat([df_x,df1],axis=1)
dff.columns=["vader +ve","vader -ve", "vader neutral", "textblob polarity","textblob_subjectivity"]

In [41]:
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import string

In [44]:
nltk.download("wordnet")

[nltk_data] Downloading package wordnet to /home/sailesh/nltk_data...

True

In [43]:

# Tokenization
tokens = word_tokenize(text)

# Remove punctuation
tokens = [word for word in tokens if word not in string.punctuation]

# Convert to lowercase
tokens = [word.lower() for word in tokens]

# Remove stop words
stop_words = set(stopwords.words("english"))
tokens = [word for word in tokens if word not in stop_words]

import re

# Join tokens back into a clean text
clean_text = " ".join(tokens)
clean_text = re.sub(r'\d+', 'NUM', clean_text)  # Replace numbers with 'NUM'

Original Text:
This is a sample sentence. It 213 232 454% includes punctuation and stop words like 'the' and 'is'.

Cleaned Text:
sample sentence 213 232 454 includes punctuation stop words like 'the 'is

In [ ]:
##heading analysis
h=df["Heading"][:10]
analyzer = SentimentIntensityAnalyzer()
l=[]
for sentence in t:
    vs = analyzer.polarity_scores(sentence)
    l.append([vs["neg"],vs["neu"],vs["pos"],vs["compound"],])
df_x=pd.DataFrame(l)

from textblob import TextBlob

s=[]
for text in t:    
    analysis = TextBlob(text)
    sentiment = analysis.sentiment
    s.append([sentiment.polarity,sentiment.subjectivity])
df1=pd.DataFrame(s)

df_heading=pd.concat([df_x,df1],axis=1)
df_heading.columns=["vader +ve","vader -ve", "vader neutral", "textblob polarity","textblob_subjectivity"]

In [ ]:
df_heading

In [62]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from textblob import TextBlob
from nltk.corpus import wordnet
from nltk.tag import pos_tag

# Function to convert numbers and percentages to words


# Function to extend abbreviations
def extend_abbreviations(text):
    # Replace abbreviations with full forms (you can add more as needed)
    abbreviations = {
            'i.e.': 'that is',
            'e.g.': 'for example',
            'etc.': 'and so on',
            'Mr.': 'Mister',
            'Mrs.': 'Missus',
            'Dr.': 'Doctor',
            'Ave.': 'Avenue',
            'St.': 'Street',
            'Apt.': 'Apartment',
            'Jan.': 'January',
            'Feb.': 'February',
            'Mar.': 'March',
            'Apr.': 'April',
            'Aug.': 'August',
            'Sept.': 'September',
            'Oct.': 'October',
            'Nov.': 'November',
            'Dec.': 'December',
            'AM': 'Ante Meridiem',
            'PM': 'Post Meridiem',
            'that\'s': 'that is',
            'it\'s': 'it is'
    }
        

    for abbr, full_form in abbreviations.items():
        text = text.replace(abbr, full_form)
    return text

# Function to perform POS tagging and remove prepositions and conjunctions
def pos_tagging_and_remove_stopwords(text):
    # Tokenize the text
    words = word_tokenize(text)
    
    # Perform POS tagging
    tagged_words = pos_tag(words)
    
    # Define the list of POS tags for prepositions and conjunctions
    # You can customize this list as needed
    unwanted_tags = ['IN', 'CC']
    
    # Filter out words with unwanted POS tags
    filtered_words = [word for word, tag in tagged_words if tag not in unwanted_tags]
    
    # Join the remaining words back into a sentence
    return ' '.join(filtered_words)

# Function to perform lemmatization
def lemmatize_text(text):
    lemmatizer = WordNetLemmatizer()
    
    # Function to map Treebank POS tags to WordNet POS tags
    def get_wordnet_pos(treebank_tag):
        if treebank_tag.startswith('J'):
            return wordnet.ADJ
        elif treebank_tag.startswith('V'):
            return wordnet.VERB
        elif treebank_tag.startswith('N'):
            return wordnet.NOUN
        elif treebank_tag.startswith('R'):
            return wordnet.ADV
        else:
            return wordnet.NOUN  # Default to noun
    
    # Tokenize and perform POS tagging
    words = word_tokenize(text)
    tagged_words = pos_tag(words)
    
    # Lemmatize using WordNet POS tags
    lemmatized_words = [lemmatizer.lemmatize(word, get_wordnet_pos(tag)) for word, tag in tagged_words]
    
    # Join the lemmatized words back into a sentence
    return ' '.join(lemmatized_words)

# Function to analyze sentiment using TextBlob
def analyze_sentiment(text):
    blob = TextBlob(text)
    polarity = blob.sentiment.polarity
    subjectivity = blob.sentiment.subjectivity
    return polarity, subjectivity

# Sample text
l=[]
i=0
for text in t:
    # Task 1: Convert numbers and percentages to words
    text = number2word(text)
    
    # Task 2: Extend abbreviations
    text = extend_abbreviations(text)
    
    # Task 3: Perform POS tagging and remove prepositions and conjunctions
    text = pos_tagging_and_remove_stopwords(text)
    
    # Task 4: Remove stop words (optional, you can do this before POS tagging as well)
    stop_words = set(stopwords.words("english"))
    words = word_tokenize(text)
    filtered_words = [word for word in words if word.lower() not in stop_words]
    text = ' '.join(filtered_words)
    
    # Task 5: Lemmatize the text
    text = lemmatize_text(text)
    
    # Task 6: Analyze sentiment using TextBlob
    polarity, subjectivity = analyze_sentiment(text)
    print(i)
    i+=1
    l.append([polarity, subjectivity])

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497
498
499
500
501
502
503
504
505
506
507
508
509
510
511
512
513
514
515
516
517
518
519
520
521
522
523
524
525
526
527
528
529
530
531
532
533
534
535
536
537
538
539
540
541
542
543
544
545
546
547
548
549
550
551
552
553
554
555
556
557
558
559
560
561
562
563
564
565
566
567
568
569
570
571
572
573
574
575
576
577
578
579
580
581
582
583
584
585
586
587
588
589
590
591
592
593
594
595
596
597
598
599
600
601
602
603
604
605
606
607
608
609
610
611
612
613
614
615
616
617
618
619
620
621
622
623
624
625
626
627
628
629
630
631
632
633
634
635
636
637
638
639
640
641
642
643
644
645
646
647
648
649
650
651
652
653
654
655
656
657
658
659
660
661
662
663
664
665
666
667
668
669
670
671
672
673
674
675
676
677
678
679
680
681
682
683
684
685
686
687
688
689
690
691
692
693
694
695
696
697
698
699
700
701
702
703
704
705
706
707
708
709
710
711
712
713
714
715
716
717
718
719
720
721
722
723
724
725
726
727
728
729
730
731
732
733
734
735
736
737
738
739
740
741
742
743
744
745
746
747
748
749
750
751
752
753
754
755
756
757
758
759
760
761
762
763
764
765
766
767
768
769
770
771
772
773
774
775
776
777
778
779

In [60]:
import re
import inflect

# Function to convert numbers and percentages to words
def number2word(text):
    try:
        # Initialize the inflect engine
        p = inflect.engine()
        
        # Convert numbers to words
        text = re.sub(r'\b(\d+)\b', lambda x: p.number_to_words(int(x.group(0))), text)
        
        # Convert percentages to words
        text = re.sub(r'\b(\d+\.\d+)%\b', lambda x: p.number_to_words(float(x.group(0))) + ' percent', text)
    except:
        text=""
    return text

In [63]:
sentiment=pd.DataFrame(l,columns=["polarity", "subjectivity"])

In [64]:
len(sentiment)

780

In [66]:
new_df=pd.concat([df,sentiment],axis=1)

In [69]:
new_df.head()

,Date,Heading,Link to detail,Detail News,polarity,subjectivity
0,2023-09-26,Banks and Finance Companies Report Impressive ...,https://www.sharesansar.com/newsdetail/banks-a...,Nepal Rastra Bank has unveiled recent statisti...,0.100940,0.227429
1,2023-09-18,Nabil Bank inaugurates Namche Branch in Solukh...,https://www.sharesansar.com/newsdetail/nabil-b...,"Nabil Bank, a leading banking institution, has...",0.202564,0.410256
2,2023-09-18,Commercial Banks in Ashwin Unveil Interest Rat...,https://www.sharesansar.com/newsdetail/commerc...,Commercial banks have recently announced their...,0.007362,0.271507
3,2023-09-12,Nabil Bank partners with Sipradi Autoparts to ...,https://www.sharesansar.com/newsdetail/nabil-b...,Nabil Bank has inked an agreement with Sipradi...,0.091667,0.616667
4,2023-09-11,Commercial Banks; Too Pricey on your Pockets? ...,https://www.sharesansar.com/newsdetail/commerc...,As the stock market experiences continuous dec...,0.099123,0.438421

In [70]:
new_df.describe()

         polarity  subjectivity
count  780.000000    780.000000
mean     0.038859      0.192388
std      0.094732      0.188457
min     -0.342121      0.000000
25%      0.000000      0.000000
50%      0.000000      0.199455
75%      0.065952      0.344633
max      0.800000      1.000000

In [71]:
new_df.to_csv("financial_news_with_sentiments.csv",index=False)